.customer_segment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 400px;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    color: white; 
    margin-top: 35px;
    margin-bottom: 35px;
}

.firstPage {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 35px;
}

.chooseDate {
    padding-top: 10px;
}

.left {
    margin-left: 70px;
}

.heading {
    padding-right: 55px;
}
.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-left: 70px;
}

.grid {
    margin-left: 150px;
}

.secondSection { 
    margin-top: 20px;
    margin-bottom: 20px;
}

.dateSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    color: white; 
    background-color: #596AFF;
    margin-top: 10px;
}

.segmentTable {
    width: 80%;
    padding-top: 100px;

}